
 TITLE dimethyltin dichloride

 *  Sn K edge energy = 29200 eV
 EDGE      K
 S02       {{s02}}

 *         pot    xsph  fms   paths genfmt ff2chi
 CONTROL   1      1     1     {{pathfinder}}     1      1
 PRINT     1      0     0     0     0      3

 *         ixc  [ Vr  Vi ]     *** ixc=0 means to use Hedin-Lundqvist
 EXCHANGE  0
                                           *** Radius for self-consistent pots (2 shells is a good choice)
 *         r_scf  [ l_scf   n_scf   ca ]   *** l_scf = 0 for a solid, 1 for a molecule
 {{doscf}}SCF       {{scf}}  1

 *         kmax   [ delta_k  delta_e ]     *** Upper limit of XANES calculation.
 * XANES     4.0

 *         r_fms     l_fms      *** Radius for Full Mult. Scatt. l_fms = 0 for a solid, 1 for a molecule
 * FMS      12.33426  1

 *         emin  emax   eimag   *** Energy grid over which to calculate DOS functions
 * LDOS      -30   20     0.1

               *** for EXAFS: RPATH 5.0 and uncomment the EXAFS card
 RPATH     {{rpath}}
 EXAFS     20

 POTENTIALS
 *   ipot   Z  element        l_scmt  l_fms   stoichiometry
        0   50   Sn            3       3        1
        1   17   Cl            2       2        2
        2    6   C             1       1        2
        3    1   H             1       1        6

 ATOMS
 *   x          y          z      ipot  tag              distance
   -0.027   2.146   0.014  2
    0.002  -0.004   0.002  0
    1.042  -0.716   1.744  2
   -2.212  -0.821   0.019  1
    1.107  -0.765  -1.940  1
    0.996   2.523   0.006  3
   -0.554   2.507  -0.869  3
   -0.537   2.497   0.911  3
    0.532  -0.365   2.641  3
    1.057  -1.806   1.738  3
    2.065  -0.339   1.736  3
 
*%# Input-mode Time-stamp: <2006/10/12 17:29:50 bruce>
*!!&& Local Variables:
*!!&& input-program-name: "feff"
*!!&& End:









