# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

############################################################

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.dvi
*.synctex.gz
results.pdf
iord.pdf

*.html

############################################################

*~
**/baseline
#**/scf
**/fit_*
noSCF/
withSCF*/
iorder/
**/fit*.k
**/fit*.r
**/fit*.gp
**/feff*.dat
**/files.dat
**/paths.dat
!**/fit*.png
**/*.aux
auto/*
**/_save_scf_save/*
feff6/

## prep and output for fitting models
*.prj
*.fpj
*.xyz
**/*.tex


BaZrO3/scf/fit_feff6_1st.png
BaZrO3/scf/fit_noSCF_1st.png
BaZrO3/scf/fit_withSCF_3_1st.png
BaZrO3/scf/fit_withSCF_4_1st.png
BaZrO3/scf/fit_withSCF_5.5_1st.png
BaZrO3/scf/fit_withSCF_5_1st.png
BaZrO3/scf/fit_withSCF_6_1st.png
FeS2/scf/fit_feff6_1st.png
FeS2/scf/fit_noSCF_1st.png
FeS2/scf/fit_withSCF_3.6_1st.png
FeS2/scf/fit_withSCF_3_1st.png
FeS2/scf/fit_withSCF_4_1st.png
FeS2/scf/fit_withSCF_5.3_1st.png
FeS2/scf/fit_withSCF_5.5_1st.png
NiO/scf/fit_feff6_1st.png
NiO/scf/fit_noSCF_1st.png
NiO/scf/fit_withSCF_2.5_1st.png
NiO/scf/fit_withSCF_3.7_1st.png
NiO/scf/fit_withSCF_3_1st.png
NiO/scf/fit_withSCF_4.2_1st.png
NiO/scf/fit_withSCF_4.7_1st.png
UO2/scf/fit_feff6_1st.png
UO2/scf/fit_noSCF_1st.png
UO2/scf/fit_withSCF_3_1st.png
UO2/scf/fit_withSCF_4_1st.png
UO2/scf/fit_withSCF_5.5_1st.png
UO2/scf/fit_withSCF_5_1st.png
UO2/scf/fit_withSCF_6_1st.png
